<h1>{{ section.settings.title }}</h1>
<p>{{ section.settings.subtext_title }}</p>

{% schema %}
{
  "name": "404",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "404 heading title",
      "default": "404",
      "info": "",
      "placeholder": ""
    },
    {
      "type": "text",
      "id": "subtext_title",
      "label": "404 subtext title",
      "default": "page not found",
      "info": "",
      "placeholder": ""
    }
  ]
}
{% endschema %}
